
html {
    background: whitesmoke;
}

h1 {
    background-color: blue;
    color: yellow;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 200%;
    letter-spacing: 0.2em;
    text-align: left;
}
h2 {
    color: white;
    background-color: teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.2em;
}
h3 {
    font-weight: normal;
    line-height: 1.2;
}

body {
    margin: auto;
    background-color: whitesmoke;
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 50%;
}

p {
    background-color: white;
    line-height: 1.4em;
    text-align: left;
}
li {
    display: grid;
    padding: 5px;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.blog-card {
    display: grid;
    background-color: white;
    border-radius: 1px;
    /*box-shadow:*/
    height: auto;
    margin: auto;
    max-width: auto;
    overflow: hidden;
}
.card {
    display: grid;
}
.content {
    display: inline-block;
}
/*.a>button{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}*/
a:hover {
background-color: #ddd;
color:black
}
.content1{
    display: inline;
    text-align: center;
    padding: 5px 5px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.button {
    background-color:blue;
    border:none;
    color:none;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    height: 100px;
    width: 200px;
    text-transform: uppercase;
    
}
.feature {
    display: inline-flex;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    display: inline-block;
    list-style-type: none;
    padding: 5px;
}

ul.fa li {
    display: inline-block;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-twitter {
    background: #55acee;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: red;
    color: white;
}
.fa-youtube {
    background: red;
    color: white;
}
.header {
    /* display: flex;
    background-color:greenyellow;*/
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: whitesmoke;
    color: blue;
}

