/*Medium Screens*/
@media (min-width: 600px) and (max-width: 900px) {
    .container-fluid {
        display: grid;
        grid-template-columns: 30px 250px;
        grid-template-rows: 250px 600px 30px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "sb cont cont  cont  cont  cont cont abt"
            "archv cont1 cont1 cont2 cont2 cont3 cont3  sm"
            "ft ft ft ft ft ft ft ft";
        border: 2px white;
    }
}

/* If Screen Is Wide Enough */
@media (min-width: 901px) {
    .container-fluid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        border: 2px white;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "sb cont cont  cont  cont  cont cont abt"
            "archv cont1 cont1 cont2 cont2 cont3 cont3 abt"
            "sm sm sm sm sm sm sm sm "
            "ft ft ft ft ft ft ft ft";
    }
}

