@import url("css/links.css");
.photo1 {
    border: 0.3px dotted black;
    margin: auto;
    padding: 1px;
    display: inline-block;
    height: auto;
    width: auto;
    margin-top: auto;
    position: relative;
    /* object-fit: cover;*/
}
.photo2 {
    border: 0.3px dotted black;
    margin: auto;
    padding: auto;
    display: inline-block;
    height: auto;
    width: auto;
    margin-top: auto;
    object-fit: contain;
}

.photo3 {
    border: 0.3px dotted black;
    margin: auto;
    padding: auto;
    display: inline-block;
    height: auto;
    width: auto;
    margin-top: auto;
    object-fit: contain;
}
