@import url("css/links.css");
.photo1{
    /*float: left;*/
    border: 1px dotted black;
    margin: auto;
    padding: 1px 1px 1px 1px;
    display: inline-block;
  }
  .photo2{
    /*float: left;*/
    border: 1px dotted black;
    margin: auto;
    padding: 1px 1px 1px 1px;
    display: inline-block;
  }
  .photo3{
    /*float: left;*/
    border: 1px dotted black;
    margin: auto;
    padding: auto;
    display: inline-block;
  }