@import url("css/links.css");
.photo1 {
    /*float: left;*/
    border: 1px dotted black;
    margin: auto;
    padding: auto;
    display: inline-block;
    height: auto;
    width: auto;
    margin-top: auto;
    object-fit: cover;
}
.photo2 {
    /*float: left;*/
    border: 1px dotted black;
    margin: auto;
    padding: auto;
    display: inline-block;
    height: auto;
    width: auto;
    margin-top: auto;
    object-fit: fill;
}


.photo3 {
    /*float: left;*/
    border: 1px dotted black;
    margin: auto;
    padding: auto;
    display: inline-block;
    height: auto;
    width: auto;
    margin-top: auto;
    object-fit: cover;
}

