@import url("css/links.css");

.feature > facebook {
    background: #3b5998;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: left;
    text-decoration: none;
    margin: 5px 2px;
    display: none;
    list-style-type: none;
    padding: 0;
}

.feature > twitter {
    background: #55acee;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: left;
    text-decoration: none;
    margin: 5px 2px;
    display: none;
    list-style-type: none;
    padding: 0;
}

.feature > linkedin {
    background: #007bb5;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: left;
    text-decoration: none;
    margin: 5px 2px;
    display: none;
    list-style-type: none;
    padding: 0;
}

.feature > youtube {
    background: #bb0000;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: left;
    text-decoration: none;
    margin: 5px 2px;
    display: block;
    list-style-type: none;
    padding: 0;
}

.feature > instagram {
    background: red;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: left;
    text-decoration: none;
    margin: 5px 2px;
    display: block;
    list-style-type: none;
    padding: 0;
}
